.product-hero-section {
    position: relative;
    height: 400px;
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    color: white;
}

.product-hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.product-hero-overlay-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  padding-left: 15vw;
  color: #222;
  text-align: left;
}

.page-title {
  font-size: 48px;
  font-weight: 700;
  color: #24713b;
  margin-bottom: 0.2em;
  font-family: 'Montserrat', sans-serif;
}

.page-breadcrumb {
  font-size: 22px;
  color: #222;
  margin-bottom: 30px;
  font-family: 'Montserrat', sans-serif;
}

/* Products Section */
.products-section {
  padding: 80px 20px;
  background-color: #ccd5bb;
}

.products-title {
  text-align: center;
  font-size: 40px;
  color: #006837;
  margin-bottom: 50px;
  font-weight: 700;
}

.products-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  max-width: 1200px;
  margin: 0 auto;
  align-items: center;
}

.products-subgrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.product-card {
  text-align: center;
}

.product-card.large-card .product-image-container img {
  max-height: 650px;
}

.product-image-container {
  padding: 20px;
  border-radius: 20px;
  margin-bottom: 20px;
  border: 4px solid #006636;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-card:hover .product-image-container {
    transform: translateY(-10px) scale(1.03);
    box-shadow: 0 15px 25px #006636;
}

.product-image-container img {
  width: 100%;
  max-height: 250px;
  object-fit: contain;
}

.product-label {
  background-color: #006636;
  color: white;
  padding: 12px 25px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 10px;
  display: inline-block;
}
.product-label:hover{
  color: #EB802E;
  box-shadow: 0 0 10px #16a34a;
}

/* Background colors for product images */
.pink-bg { background: linear-gradient(135deg, #04667E, #CA247F); }
.red-bg { background: linear-gradient(135deg, #F8C0D8, #ED3237); }
.dark-blue-bg { background: linear-gradient(135deg, #EF2E93, #2E3C97); }
.purple-bg { background: linear-gradient(135deg, #45B653, #ED3237); }
.light-blue-bg { background: linear-gradient(135deg, #9D8C6D, #34367E); }


@media (max-width: 992px) {
    .products-grid {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 768px) {
    .products-subgrid {
        grid-template-columns: 1fr;
    }
} 